
.coo_logo_wrap .right_row {
    padding: 9px 0;
}

.coo_logo_wrap {
    padding-left: 20px;
}

.coo_logo_wrap .coo_logo {
        font-size: 24px;
    }

.arrow {
 display:none;
}

.coo_logo_wrap .logo_text {
    font-size: 18px;
    margin-left: 5px;
    color: rgba(124, 125, 121, 0.95);
}

@media (min-width: 768px) {
    .coo_logo_wrap .coo_logo {
        font-size: 35PX;
    }

    .coo_logo_wrap .logo_text {
        font-size: 26px;
        margin-left: 10px;
    }

    .coo_logo_wrap {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        padding-left: 26%;
        box-shadow: 1px 4px 12px 1px;
        -webkit-box-shadow: 1px 4px 12px 1px;
        -moz-box-shadow: 1px 4px 12px 1px;
        -ms-boxshadow: 1px 4px 12px 1px;
    }

        .coo_logo_wrap .right_row {
            padding: 13px 0;
        }

    .arrow {
        display:block;
        padding-top: 5%;
        padding-left:11%;
    }

        .arrow i {
            font-size: 121px;
        }
    .coo_contact_us{padding-left:31%;}
}

.col-sm-12.col-xs-12 {
    transition: linear .2s all;
}

    .col-sm-12.col-xs-12:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
